@import url("../Base.css");

.dateBubble {
    border-radius: 10rem;
    width: 6.3rem;
    height: 6.3rem;
    /*padding: 1.2rem 0 1.2rem 0;*/
    background-color: var(--primary-light);
    text-align: center;
    display: flex;
    display: -webkit-flex;
}

.dateBubble p {
    margin: auto;
}

@media only screen and (max-width: 700px) {
    .dateBubble {
        border-radius: 10rem;
        width: 2.6rem;
        height: 2.6rem;
        /*padding: 1.2rem 0 1.2rem 0;*/
        background-color: var(--primary-light);
        text-align: center;
        display: flex;
        display: -webkit-flex;
    }

    .dateBubble p {
        margin: auto;
        font-size: .5rem;
    }
}
