@import url("../Base.css");

.homeEndText {
    text-align: center;
    padding: 3rem 30vw 35vh 30vw;
    font-size: 1.5rem;
    font-family: var(--font-family);
    color: var(--primary-text);
}

.homeEndHeading {
    text-align: center;
    font-size: 4rem;
    color: var(--contrast);
}

.homeEndButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30vw 5vh 30vw;
}

@media only screen and (max-width: 700px) {
    .homeEndText {
        padding: 1rem 10vw 40vh 10vw;
        text-align: center;
        font-size: 0.8rem;
    }

    .homeEndHeading {
        text-align: center;
        font-size: 2rem;
        color: var(--contrast);
    }

    .homeEndButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10vw 5vh 10vw;
    }
}
