@import url("./Base.css");

.App {
  text-align: center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
    160deg,
    var(--primary-dark),
    var(--primary-dark),
    var(--primary-medium)
  );
  min-height: 100vh;
  padding-top: 2rem;
  overflow-x: hidden;
}

.pageContainer {
  padding: 0 0 0 0;
}

body::-webkit-scrollbar {
  width: 0em;
}

@media only screen and (max-width: 1100px) {
  .App {
    padding-top: 2rem;
  }

  .resumeContainer {
    top: 25vh;
    left: 0;
    margin: 1rem 1rem 0 0;
    animation: slideInRightAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@media only screen and (max-width: 700px) {
  .resumeContainer {
    top: 25vh;
    right: unset;
    left: 0;
    margin: 1.4rem;
    animation: slideInRightAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@keyframes slideInRightAnimation {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  50% {
    opacity: 0;
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
