@import url("./Base.css");

.App {
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(160deg, var(--primary-dark), var(--primary-dark), var(--primary-medium));
  min-height: 93vh;
  border: 1px rgba(255, 0, 0, 0) solid;
  padding-top: 5rem;
  padding-bottom: 70px;
  overflow-x: hidden;
}

.pageContainer {
  padding: 0 0 0 0;
}

/*@media only screen and (max-width: 700px) {*/
/*  .App{*/
/*  height: calc(100% + 60px);*/
/*  min-height: calc(100% + 60px);*/
/*    overflow-x: hidden;*/
/*  }*/
/*}*/
