@import url("../Base.css");

.menuIconContainer {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-left: 2rem;
    border-radius: 0.6rem;
    color: var(--contrast);
    border: 1px solid var(--contrast);
    align-items: center;
    padding: .15rem .3rem 0 .3rem;
    cursor: pointer;
    transition: var(--transition);
}

.menuIconContainer:hover {
    background-color: var(--contrast);
    color: var(--primary-dark);
}

.overlay {
    transition: var(--transition);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.overlay.hide {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }
    25% {
        opacity: 0;
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
