@import url("../Base.css");

.navBarContainer {
    justify-content: left;
    flex-direction: row;
    display: flex;
}

.navBarItem {
    animation: slideInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-top-width: 0.3rem;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0);
    width: max-content;
    align-content: center;
    justify-content: center;
    margin: 0 0 1.3rem 2.2rem;
    padding-top: 1rem;
    font-size: var(--nav-font-size);
    font-family: var(--nav-font-family);
    color: var(--primary-text);
    cursor: pointer;
    line-height: 1;
    transition: var(--transition);
    text-decoration: none;
    align-items: center;
}

.navBarItem:hover {
    /*border-top-color: var(--primary-text);*/
    color: var(--contrast);
}

.active {
    /*border-top-color: var(--contrast);*/
    color: var(--contrast);
}

.highlight {
    height: 0.3rem;
    background-color: var(--contrast);
    position: absolute;
    top: 0;
    left: 2.2rem;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation: fadeInHighlight ease 3s;
}

@keyframes slideInAnimation {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }
    25% {
        opacity: 0;
        transform: translateX(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInHighlight {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
