@import url("../Base.css");

.socialsContainer{
    width: calc(5rem + 1vw);
    position: fixed;
    bottom: 0;
    transition:  linear .7s;
}

.socialsItem{
    justify-content: center;
    margin-bottom: 1.3rem;
    color: var(--contrast);
    cursor: pointer;
}

.line {;
    margin-left: auto;
    margin-right: auto;
    width: 0.1rem;
    height: 8vh;
    background-color: var(--contrast);
}

.hiddenSoc {
    transition:  linear .2s;
    transform: translateY(20rem);
}

.activeSoc {
    transform: translateY(0rem);
}
